.form-order {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: #373a36;
  border: 2px solid #747272;
  border-radius: 10px;
  padding: 15px;
  z-index: 100;
}
.background-low-opactiy {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #ffffff;
  opacity: 0.3;
  z-index: 99;
}
.form-order__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.form-order__button {
  width: 100%;
}
.form-order__input {
  height: 35px;
  border: none;
  width: 100%;
  color: #ffffff !important;
  background-color: #535352 !important;
  border: 2px solid #747272;
}
.form-pair {
  width: 100%;
  gap: 10px;
}
